/** Radios Style*/

input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: #d1d3d1;
  content: "";
  display: block;
  visibility: visible;
  margin-left: 0rem;
}

input[type="radio"]:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: black;
  content: "";
  display: block;
  visibility: visible;
  margin-left: 0rem;
}

@media screen and (min-width: 430px) {
  input[type="radio"]:after {
    margin-left: -0.1rem;
  }

  input[type="radio"]:checked:after {
    margin-left: -0.1rem;
  }
}
