/** Radios Style*/

input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: #d1d3d1;
  content: "";
  display: block;
  visibility: visible;
  margin-left: -0.1rem;
}

input[type="radio"]:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: black;
  content: "";
  display: block;
  visibility: visible;
  margin-left: -0.1rem;
}
